#leftColumn {
    float: left;
    width: 33%;
}
#centerColumn{
    float: left;
    width: 33%;
}
#rightColumn {
    float: left;
    width: 33%;
}
 
 h2 {
    text-align: center;
}

img {
  text-align: center; 
  max-width: 100%;
  height: 40;
}

